html{ 
  box-sizing: border-box;
}
*,
*:before,
*:after {
   box-sizing:inherit;
}


:root {
  font-size: 24px;
  font-family: 'Space Mono', monospace;
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

/* Body and background */
body{
  background-color: var(--Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1{
  font-size: 18px;
  color: var(--Very-dark-cyan);
  letter-spacing: 6px;
}

.top-h1{
  margin-top: 2rem;
  margin-bottom: 0;
}

.bottom-h1{
  margin-top: 0;
  margin-bottom: 1.1rem;
}

/* Main container */

.main-container {
  background-color: var(--White);
  padding: 1.2rem;
  padding-top: 0.6rem;
  border-radius: 1rem;
  margin: auto;
  width:100%;
  max-width: 375px;
}

h6{
  color: var(--Dark-grayish-cyan);
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 0.5rem;
}

/* First ("bill") and "Number of people" screens */

.bill-screen, .people-screen{
  background-color: var(--Very-light-grayish-cyan);
  border-radius: 0.2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.icon-dollar{
  height: 0.55rem;
  width: 0.35rem;
  margin-left: 0.5rem;
  position: absolute;
}

.icon-person {
  height: 0.5rem;
  width: 0.43rem;
  margin-left: 0.4rem;
  position: absolute;
}

.input-bill, .input-people{
  color: var(--Very-dark-cyan);
  padding:0.2rem;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 700;
  padding-right: 0.4rem;
  font-family: 'Space Mono', monospace;
  border-radius: 0.2rem;
  padding-left:30px;
}

.input-bill:focus, .input-people:focus {
  border: 3px solid var(--Strong-cyan);
}

.people{
  display: flex;
  justify-content: space-between;
}

.input-people-zero {
  border: 3px solid orangered;
  padding: 0.2rem;
  background: transparent;
  outline: none;
  width: 100%;
  text-align: end;
  font-size: 0.8rem;
  font-weight: 700;
  padding-right: 0.4rem;
  font-family: 'Space Mono', monospace;
  border-radius: 0.2rem;
  padding-left:30px;
}

.no-zero{
  color: orangered;
  display: none;
}

/* Number input without arrows - Chrome, Edge, Opera etc */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Number input without arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Tip (%) selectors div */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem
}

button {
  width: 47%;
  height: 38px;
  font-weight: 700;
  border-radius: 0.2rem;
  border: none;
  font-family: 'Space Mono', monospace;
}

button.selector {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-grayish-cyan);
  font-size: 0.75rem;
}

button.activated {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.custom {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--Dark-grayish-cyan);
  width: 47%;
  height: 38px;
  font-weight: 700;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.custom:focus{
  border: 3px solid var(--Strong-cyan);
}

/* Big Screen - amount and total */

.amount-screen {
  background-color: var(--Very-dark-cyan);
  padding: 0.7rem;
  margin-top: 0.5rem;
  padding-top: 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.screen-text-big {
  font-family: 'Space Mono', monospace;
  font-size: 0.5rem;
  font-weight: 700;
  color: var(--White);
  margin-left:0.3rem;
}

.screen-text-small {
  font-size: 0.4rem;
  font-weight: 700;
  color: var(--Grayish-cyan);
  margin-top: 0;
  margin-left: 0.3rem;
}

.amount, .total {
  display: flex;
  justify-content: space-between;
}

.result-amount, .result-total {
  font-weight: 700;
  color: var(--Strong-cyan);
  font-size: 1rem;
  margin-right: 0.1rem;
  margin-top: 0.5rem
}

.dollar-result{
  font-size: 1rem;
  margin-right: 0.1rem;
  filter: invert(57%) sepia(95%) saturate(330%) hue-rotate(122deg) brightness(91%) contrast(93%);
  font-weight: bold;
}

.reset {
  margin-top: 0.4rem;
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  width: 100%;
  font-size: 0.65rem;
  align-self: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (min-width: 645px) {
    .title {
      margin-top: 4rem;
      margin-bottom: 0.8rem;
    }

    .main-container{
      margin-top: 1rem;
      width: 90%;
      max-width: 750px;
      height: 400px;
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }

    .reset {
      background-color: hsla(183, 52%, 29%, 0.8);;
      color: var(--Dark-grayish-cyan);
      width: 100%;
      font-size: 0.7rem;
      align-self: center;
    }
    
    .desktop-right {
      width: 50%;
      margin-left: 2rem;
      height: 95%;
      margin-top: 0.5rem;
    }

    .desktop-left {
      width: 50%;
      height: 90%;
    }

    .buttons {
      display: flex;
      margin-top: 1.4rem;
      margin-bottom: 1.3rem
    }

    button, .custom {
      width: 30%
    }

    .amount-screen {
      margin-top:0; 
      height: 100%;
    }

    .screen-text-big {
      font-size: 0.6rem;
    }

    .screen-text-small {
      font-size: 0.5rem;
    }

    .total {
      margin-top: 0.7rem;
    }

    .reset{
      margin-top: 3.7rem;
      font-size: 0.8rem;
    }

    .reset:hover {
      background-color: var(--Light-grayish-cyan);
      color: var(--Very-dark-cyan);
    }
    
    .reset:active {
      background-color: var(--Strong-cyan);
      color: var(--Very-dark-cyan);
    }
  }

  @media screen and (max-width: 374px) {
    .main-container{
      width: 374px;
      height: 660px;
    } 
  }